

{% extends 'app/base.html' %}

{% block title %}
            Password Reset complete Form
{% endblock %}

{% block main-content %}
  
  <div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">

        <h1>Password reset complete</h1>
        <hr>
    

      
      
     
      
      <p>Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
      
     </div>
    </div>
   </div>
{% endblock main-content%}