{% extends "app/base.html" %}

{% block title %}Email Sent{% endblock %}

{% block main-content %}
  <!-- <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p> -->
  <div class="container">
    <div class="row my-3">
     <div class="col-sm-6 offset-sm-3">
        <h1>Check your inbox.</h1>
      <hr>
      <!-- {% for message in messages %}
   <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
     <strong>Message</strong> {{message}}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endfor %}
   
   <p style="font-size: large ;"><b>Enter your email address below, and we'll email instructions for setting a new one.</b></p>
 
   <form method="POST">
     {% csrf_token %}
     <b>{{ form.as_p }}</b>
     <input type="submit" class="btn btn-primary mt-4"value="Send me instructions!">
   </form> -->
   <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

     </div>
    </div>
   </div>
{% endblock main-content %}